<a href="https://colab.research.google.com/github/mystic23/Estructuras_Discretas_Grupo/blob/main/Clase_combinatoria_atomos_longitud.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tenemos que: \\

$$ T_{22} (z) = E + Z_{2} *E + (Z_{0} + Z_{1} +Z_{2} \cdot (Z_{0} + Z_{1} ) * T_{22}(z) $$

Entonces: \\

$$ T_{22} (z) = 1 + Z * 1 + (2z+2z^2)  * T_{22}(z) $$

Por lo tanto \\

$$T_{22}(z) = \frac{1+z}{1-2z-2z^2} $$

In [16]:
def msTnot22(z):
  if not(z):
    return True
  else:
    if z[0]=='2' and not(z[1]):
      return True
    else:
      if (z[0]=='0' or
          z[0]=='1' or
          (z[0]=='2' and
          (z[1]=='0' or z[1]=='1'))):
          return msTnot22(z[1:])
      else:
        return False

#Prueba del metodo simb√≥lico

In [21]:
msTnot22("22")

False